:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-button:#F5F4FA;

}

body {
  color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
  text-decoration: none;
}
/*header section*/
.current-page{
  color: var(--accent-color);
  text-decoration: none;
}
.header {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.logo {
  color: var(--primary-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--primary-color);
  
}

.nav {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav:hover,
.nav:focus {
  color: var(--accent-color);
}

.auth-nav {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav:hover,
.auth-nav:focus {
  color: var(--accent-color);
}

/*hero section*/
.hero-main {
  color: var(--white-color);
  background-color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color:#007be5;
}
/* staff cection*/
.staff{
  background-color: var(--background-button);
}
/*button section*/
.link {
  cursor: pointer;
}
.nav-btn .link {
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--background-button);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.nav-btn .link:hover,
.nav-btn .link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* about section*/
.about-items {
  color:var(--primary-color)
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.about-dscr{
color:var(--secondary-color);
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}
.promo,
.all-staff{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.03em;


}
/* images section portfolio page*/
a{
  text-decoration: none;
}
.image {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
}
.person{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.type {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  
  
}
/*footer*/
.logo-footer{
  color: var(--white-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer,
.hero{
  background-color: #2f303a;
}
.adrs {
  color: var(--white-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.adrs:hover,
.adrs:focus {
  color: var(--white-color);
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.contact:hover,
.contact:focus {
  color: var(--white-color);
}
